<h2>My Heros</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [ngClass]="{'selected': hero===selectHero}">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<!-- 当刚开始的时候，selectHero为空 -->
<div *ngIf="selectHero">
  <h2>
    {{selectHero.name |uppercase}} Details
  </h2>
  <div>
    <span>id:</span>{{selectHero.name}}
  </div>
  <div>
    <label for="">
      <input type="text" [(ngModel)]="selectHero.name" placeholder="name">
    </label>
  </div>
</div>
