<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [expand]='expand' [page]="{'showSize':true,'placement':'left'}">
    <ng-template #expand let-item let-index="index" let-column="column">
      {{item.description}} {{ item.updatedAt }}
    </ng-template>
  </st>
</nz-card>
